body {
  background-color: black;
  align-items: center;
}

.container {
left: 16%;
overflow: hidden;
background-color: black;
 width: 60%;
 height: 613px;
  border: 5px solid #ffff00;
 padding: 10px; 
 display: flex;
 position: relative;
 top: 20px;
}

.grid {
  
 
 background-color: grey;
  background-position: center;
  background-size: 250px;
  background-image: url('tetrisLogo.png');
  margin-left: 198px;
  background-repeat: no-repeat;
  border: 5px solid yellow;
  width: 300px;
  height: 600px;
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  
 

}

.grid div {
  height: 30px;
  width: 30px;
  }


.tetromino {
  background-color: black;
  display: block;
  z-index: 2;
  
}

.mini-grid {
  left: 70px;
  border: 5px solid yellow;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  margin-left: 492px;
  position: absolute;
}

.mini-grid div {
  
  height: 30px;
  width: 30px;
  
  
}
.highScore {
  
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  margin-top: 400px;
  margin-left: 600px;
  font-size: 25px;

}
#score-bored {
  color: white;
  font-family: Arial, Helvetica;
  font-size: 20px;
  position: relative;
}

#start-button {
  left: 15px;
  border: 5px solid yellow;
  background-color: grey;
  font-size: 27px;
  color: white;
  font-family: Arial, Helvetica;
  padding: 10 0 10 0;
  height: 150px;
  width: 150px;
  position: absolute;
  margin-top: 140px;
  z-index: 3;
}
#start-button:hover {
  cursor: pointer;
}

/* #restart-button {
  border: 5px solid black;
  background-color: yellow;
  font-size: 27px;
  color: black;
  font-family: Arial, Helvetica;
  padding: 10 0 10 0;
  height: 70px;
  width: 150px;
  position: absolute;
  margin-top: 430px;
  margin-left: 288px;
  display: none;

  z-index: 3;
} */



#level-1 {
  font-size: 30px;
  font-family: Arial;
  color: black;
  top: 1px;
  left: 238px;
  position: absolute;
  display: none;
  opacity: 50%;
  z-index: 1;
  
 }
 
#level-2 {
  font-size: 30px;
  font-family: Arial;
  color: black;
  top: 1px;
  left: 238px;
  position: absolute;
  display: none;
  z-index: 1;
  opacity: 50%;
  
 }


 .over {
   background-color: red;
   opacity: 100%;


 }
 #end {
    
    border: 5px black solid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: red;
    height: 450px;
    width: 548px;
    margin-top: 70px;
    text-align: center;
    font-size: 4.0em;
    position: absolute;
    left:90px;
    z-index: 3;
    display: none;
  }

  #end input {
    right: 10px;
    bottom: 175px;
    width: 100px;
    text-align: center;
    border: 5px solid black;
    height: 40px;
    font-size: 20px;
    position: relative;
  }
  
  #end #saveScoreBtn {
    color: white;
    background-color: blue;
    border: 5px solid black;
    left: 10px;
    bottom: 170px;
    right: 68px;
    height: 80px;
    font-size: 30px;
    margin-top: 60px;
    position: relative;
    z-index: 2;
  }

  #highScorePlayAgain {
    
    top: 430px;
    border: 5px solid black;
    border-radius: 25%;
    background-color: yellow;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica;
    padding: 10 0 10 0;
    height: 100px;
    width: 100px;
    display: block;
    z-index: 4;
    bottom: 130px;
    position: absolute;
    left: 393px;
    display: none;
  }

  #highScorePlayAgain:hover {
    cursor: pointer;
  }

  #highScores {
    
    color: white;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 5px solid yellow;
    width: 290px;
    height: 450px;
    top: 160px;
    left: 561px;
    position: absolute;
    z-index: 1;
  }

  

  #highScoresList {
    color: #FFD012;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style:decimal;
    text-transform: uppercase;
  }

  #gameOverGif {

    
    top: 10px;
    left: -33px;
    display: none;
    width: 20%;
    justify-content: center;
    margin: auto;
    position: absolute;
    z-index: 4;
    
  }
 
 #controls {

  color: white;
  /* border: 5px solid yellow; */
  /* background-color: grey; */
   top: 400px;
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   text-align: right;
  }
 
  h3 {
    font-family: 'Neucha', cursive;;
    color: white;
    text-align: center;
  }

  i {
    color: white;
  }
  
  #next p {
    position: absolute;
   font-size: 40px;
   bottom: 20px;
    left: 720px;
   
    color: white;
    font-family: 'Neucha', cursive;;
    top: 40px;
  }
  #next i {
    position: absolute;
    font-size: 40px;
    left: 710px;
    top: 35px;
    color: white;
   

  }


 

